<div th:fragment="sidebarFragment">

    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" th:href="@{/admin/pages/index}">
                <span class="align-middle">Insert Title</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Pages
                </li>

                <li class="sidebar-item active">
                    <a class="sidebar-link" th:href="@{/admin/pages/index}">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed  d-flex justify-content-between align-items-center" data-bs-target="#submenu-menu1" data-bs-toggle="collapse" >
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">Menu1</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-menu1" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/menu1/submenu-1}">Submenu1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu1/submenu-2}">Submenu2</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu1/submenu-3}">Submenu3</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu1/submenu-4}">Submenu4</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-menu2" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">Menu2</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-menu2" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/menu2/submenu-1}">Submenu1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu2/submenu-2}">Submenu2</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu2/submenu-3}">Submenu3</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu2/submenu-4}">Submenu4</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-menu3" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">Menu3</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-menu3" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/menu3/ç-1}">Submenu1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu3/submenu-2}">Submenu2</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu3/submenu-3}">Submenu3</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu3/submenu-4}">Submenu4</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link collapsed d-flex justify-content-between align-items-center" data-bs-target="#submenu-menu4" data-bs-toggle="collapse">
							<span>
								<i class="align-middle" data-feather="square"></i> <span class="align-middle">Menu4</span>
							</span>
                        <i class="align-middle collapse-arrow" data-feather="chevron-down"></i>
                    </a>
                    <ul id="submenu-menu4" class="sidebar-dropdown list-unstyled collapse ps-4" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link"  th:href="@{/admin/pages/menu4/submenu-1.}">Submenu1</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu4/submenu-2}">Submenu3</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu4/submenu-3}">Submenu3</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" th:href="@{/admin/pages/menu4/submenu-4}">Submenu4</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <strong class="d-inline-block mb-2"></strong>
                    <div class="mb-3 text-sm">
                    </div>
                    <div class="d-grid">
                        <img class="sidebar-img" th:src="@{/img/LOGO.png}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </nav>



</div>